<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN"><html>
<head>
<title>Walt Disney Family Museum Ticket Confirmation</title>
<style>
	.welcome {
	    font-size: 14px;
	    font-weight: bold;
	    font-family: Verdana, Arial, Helvetica, sans-serif; } a {
	    color: #4374AE;
	    text-decoration: none;
	    font-weight: bold;
	}
	a:hover {
	    color: #E88D09;
	    text-decoration: underline;
	}
	.cart-nav {
	    font-family: Verdana, Arial, Helvetica, sans-serif;
	    font-size: 10px;
	    font-weight: bold;
	    color: #FFFFFF;
	    text-decoration: none;
	}
	a.cart-nav:hover {
	    color: #B3D8F3;
	}
	.page-bg {
	    background-color: white;
	    background-repeat: repeat-x;
	    background-position: left top;
	}
	.bg {
	    background-color: #FFFFFF;
	    background-repeat: repeat-x;
	    background-position: left top;
	}
	.footer {
	    font-family: Verdana, Arial, Helvetica, sans-serif;
	    font-size: 10px;
	    color: #000000;
	    text-decoration: none;
	    font-weight: normal;
	}
	a.footer:hover {
	    color: #FF9933;
	    text-decoration: underline;
	}
	.r-cart-contents {
	    padding-top: 4px;
	    padding-right: 10px;
	    padding-bottom: 4px;
	    padding-left: 10px;
	    font-size: 10px;
	    font-family: Verdana, Arial, Helvetica, sans-serif; } 
.r-cart-total {
	    font-family: Verdana, Arial, Helvetica, sans-serif;
	    font-size: 11px;
	    font-weight: bold;
	    padding-top: 4px;
	    padding-right: 10px;
	    padding-bottom: 4px;
	    padding-left: 10px;
	}
	.border {
	    border:1px solid #FFFFFF;
	}
	body {
	    font-family: Verdana, Arial, Helvetica, sans-serif;
	    font-size: 12px;
	    text-decoration: none;
	}
	td,tr {
	    font-family: Verdana, Arial, Helvetica, sans-serif;
	    font-size: 12px;
	    text-decoration: none;
	}
	#left-nav {
	    width:164px;
	    position: relative;
	    top: 0px;
	    left: 0px;
	    float: left;
	    padding: 0px;
	    font: Verdana, Arial, sans-serif;
	}
	#left-nav-heading {
	    width:164px;
	    height:20px;
	    font: Verdana, Arial, sans-serif;
	}
	#navi {
	    position: relative;
	    width:164px;
	    line-height: 21px;
	    background-color: #FFFFFF;
	}
	.nav {
	    font: Verdana, Arial, sans-serif;
	    font-size:11px;
	    font-weight:bold;
	    color: #FFFFFF;
	    text-decoration: none;
	}
	a.nav:hover {
	    color: #E88D0B;
	    text-decoration: none;
	}
	.page-heading
	{
	    font-family: Verdana, Arial, Sans-Serif;
	    color: #467AB3;
	    font-size: 14px;
	    font-weight: bold;
	}
	.item-heading
	{
	    color: #151E61;
	    font-size: 12px;
	    font-weight: bold;
	}
	.item-choice
	{
	    font-size: 11px;
	}
	.item-bg
	{
	    background-color: #E9EEF4;
	    border: 1px solid #DDE4EE;
	}
	.item-price
	{
	    color: #000000;
	    font-weight: bold;
	}
	.item-text
	{
	    font-size: 11px;
	}
	.item-image
	{ border: 1px solid #000000;
	    margin-right: 20px;
	    margin-bottom: 20px;
	}
	.top-row-bg
	{
	    color: #151E61;
	}
	.cart-row
	{
	    background-color: #FFFFFF;
	    font-size: 12px;
	}
	.btn
	{
	    height: 20px;
	    background-color: #E7B107;
	    border: 1px solid #1D3170;
	    font-family: Verdana, Arial, Sans-Serif;
	    color: #151E61;
	    font-size: 11px;
	    font-weight: bold;
	}
	.btno
	{
	    height: 20px;
	    background-color: #F6DF38;
	    border: 1px solid #1D3170;
	    font-family: Verdana, Arial, Sans-Serif;
	    color: #385F9A;
	    font-size: 11px;
	    font-weight: bold;
	}
	.blue-btn
	{
	    height: 20px;
	    background-color: #4982BC;
	    border: 1px solid #1D3170;
	    font-family: Verdana, Arial, Sans-Serif;
	    color: #FFFFFF;
	    font-size: 11px;
	    font-weight: bold;
	}
	.blue-btno
	{
	     height: 20px;
	    background-color: #F6DF38;
	    border: 1px solid #1D3170;
	    font-family: Verdana, Arial, Sans-Serif;
	    color: #385F9A;
	    font-size: 11px;
	    font-weight: bold;
	}
	.box
	{
	    border: 1px solid #345B96;
	    height: 20px;
	    text-align:right;
	}
	.cart-error
	{
	    color: #FF0000;
	    font-size: 12px;
	    font-weight: bold;
	}
	.status
	{
	    font-size: 9px;
	}
	.welcome {
	    font-size: 14px;
	    font-weight: bold;
	    color: #6EAE50;
	    font-family: Verdana, Arial, Helvetica, sans-serif; }
</style>
</head>
<% messagesubject 'the he walt disney family museum web store order #' + order.getorderfield('externalid') %>
<body class="bg" leftmargin="0" topmargin="0" marginheight="0" marginwidth="0">
<table id="MainTable" class="border" cellspacing="0" cellpadding="0" width="600" align="center" bgcolor="#ffffff" border="0" style="width: 600px;">

<tr>
	<td>
		<table class="page-bg" id="Table1" cellspacing="0" cellpadding="0" width="100%" align="center" border="0" valign="top">
		<tr>
			<td>
				<table width="100%" border="0" cellpadding="2" cellspacing="2">
				<tr>
					<td width="5%">
							<p align="center">
								<% write(parkheadertext) %>
								<st1:city>
									<st1:place></st1:place>
								</st1:city>
							</p>								
							<img class="logo" src="http://www.waltdisney.org/sites/all/themes/wdfm/images/header_logo.png">							
						</td>
					</tr>
					</table>
					<table width="735" border="0" align="center" cellpadding="0" cellspacing="0">
							<tr>
								<td>
								<p>
								Thank you, <% write(order.getorderfield('contact.firstname')) %><% write(order.getorderfield('contact.lastname')) %>! We appreciate your online purchase. Your order was successfully processed.</p>
								<p>Your print at home ticket(s) are attached, you must print the attached ticket(s) for entry into the museum.</p>
										<br/>
										</td>
										</tr>

										</table>
										<br>
										<hr size="1" color="#385f9a">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
										<tr>
											<br>
											<% write(deliveryinstructions) %>
											&nbsp;</span>
										</td>
									</tr>
									</table>
									<table width="100%" align="center" cellspacing="0">
									<tr>
										<td class="item-text">
											<hr size="1" color="#385f9a">
										</td>
									</tr>
									</table>
<!-- 									Billing Information -->
									<table width="100%" border="0" cellspacing="2" cellpadding="2">
										<tr>
											<td valign="top">
												<table>
													<tr>
														<td>
															<h3 class="item-heading">Billing Information</h3>
															<p>
															<span id="LabelBillingInfo"><% write(order.getorderfield('contact.firstname')) %>
															<% write(order.getorderfield('contact.lastname')) %><br>
															<% write(order.getorderfield('contact.address.street1')) %><br>
															<% if (order.getorderfield('contact.address.street2') <> '') then begin %><% write(order.getorderfield('contact.address.street2')) %><br>
															<% end %>
															<% if (order.getorderfield('contact.address.street3') <> '') then begin %><% write(order.getorderfield('contact.address.street3')) %><br>
															<% end %>
															<% write(order.getorderfield('contact.address.city')) %>, <% write(order.getorderfield('contact.address.state')) %><% write(order.getorderfield('contact.address.postal')) %><br>
															<% write(order.getorderfield('contact.phone')) %><br>
															<% write(order.getorderfield('contact.email')) %></span>
															</p>
														</td>
													</tr>
												</table>
											</td>
											<td valign="top">
												<table>
													<tr>
														<td>
															<h3 class="item-heading">Payment</h3>
															<p id="LabelPaymentInfo">
															<% var thefopid: integer thefopid order.getorderfield('firstfopid') if thefopid 31 31 then write('visa') else if thefopid 32 32 then write('mastercard') else if thefopid 34 34 then write('discover') else if thefopid 33 33 then write('american express') else if thefopid 35 35 then write('diners club') else if thefopid 36 36 then write('jcb') %></span><% write(order.getorderfield('securecardno')) %>
															</p>
														 <p>eCommerce Transaction</p>
														</td>
													</tr>
												</table>
											</td>
										</tr>	
									</table>

<!-- 									Your Order -->
									<table width="100%" border="0" cellspacing="2" cellpadding="2">
									<tr>
										<td colspan="5" class="item-heading">
												<hr size="1" color="#385f9a">
										</td>
									</tr>
									<tr>
										<td colspan="5" class="item-heading">
											<strong>Order confirmation number: <strong><% write(order.getorderfield('externalid')) %>.</strong><br/><br>
											 Order Date: <% write(longdatetostr(order.getorderfield('opendate'))) %></strong>
										</td>
									</tr>
									<tr>
										<td colspan="5">
											<table width="100%" border="0" cellspacing="1" cellpadding="2">
											<tr>
												<td width="62%" height="18" class="top-row-bg">
													<div align="center">
														<font color="#ffffff"><strong>Item</strong></font>
													</div>
												</td>
												<td width="13%" class="top-row-bg">
													<div align="center">
														<font color="#ffffff"><strong>Price</strong></font>
													</div>
												</td>
												<td width="15%" class="top-row-bg">
													<div align="center">
														<font color="#ffffff"><strong>Quantity</strong></font>
													</div>
												</td>
												<td width="10%" class="top-row-bg">
													<div align="right">
														<font color="#ffffff"><strong>Total</strong></font>
													</div>
												</td>
											</tr>
											</table>
											<table width="100%" border="0" cellpadding="2" cellspacing="2">
											<% for i 0 0 to order.orderlinecount - 1 do begin %>
											<% if (order.orderlineisticketoritem(i)) and (order.getorderlinefield(i, 'plu') <> ShippingPLU) then begin %>
											<tr class="cart-row">
												<td width="62%" align="left" class="cart-row">
													<% write(order.getorderlinefield(i, 'description')) %><br>
													<% var theeventdate: string theeventdate : order.getorderlinefield(i, , 'eventdate') if theeventdate <> '' then begin %><% write(theeventdate) %><br>
													<% end %>
													<% if order.getorderlinefield(i, 'hasguest') then begin %><strong>Guest Name:</strong><% write(order.getorderlinefield(i, 'guest.name')) %><br>
													<% end %>
												</td>
												<td width="13%" align="center">
													$<% write(order.getorderlinefield(i, 'amount')) %>
												</td>
												<td width="15%" align="center">
													<% write(order.getorderlinefield(i, 'quantity')) %>
												</td>
												<td width="10%" align="right">
													$<% write(order.getorderlinefield(i, 'total')) %>
												</td>
											</tr>
											<% end %>
											<% end %>
											<b>PLEASE PRINT YOUR TICKET(S) FOR ENTRANCE INTO THE MUSEUM</b>
											<tr>
												<td class="top-row-bg" colspan="4" height="4">
													&nbsp;
												</td>
											</tr>
											</table>
										</td>
									</tr>
									</table>
<!-- 									Subtotal -->
									<table width="100%" border="0" cellpadding="2" cellspacing="2">
									<tr>
										<td width="85%" align="right" colspan="4">
											Subtotal:
										</td>
										<td align="right">
											$<% write(order.getorderfield('subtotal')) %>
										</td>
									</tr>
									<tr>
										<td width="85%" align="right" colspan="4">
											Tax:
										</td>
										<td align="right">
											$<% write(order.getorderfield('tax')) %>
										</td>
									</tr>
									<tr>
										<td colspan="3" width="40%">
											&nbsp;
										</td>
										<td width="45%" align="right">
											Shipping:
										</td>
										<td align="right">
											$<% write(order.getorderfield('shipping')) %>
										</td>
									</tr>
									</table>
									<table width="100%" border="0" cellspacing="2" cellpadding="2">
									<tr>
										<td colspan="5" class="header">
											<hr size="1" color="#385f9a">
										</td>
									</tr>
									<tr>
										<td colspan="4" width="87%">
											<div align="right">
												<strong>Order Total:</strong>
											</div>
										</td>
										<td>
											<div align="right">
												<span class="item-price">
												<span id="LabelTotal">$<% write(order.getorderfield('total')) %></span>
												</span>
											</div>
										</td>
									</tr>
									<tr>
										<td class="header">
											&nbsp;
										</td>
										<td class="header">
											&nbsp;
										</td>
										<td>
											&nbsp;
										</td>
										<td>
											&nbsp;
										</td>
										<td>
											&nbsp;
										</td>
									</tr>
									</table>
<!-- 									Bottom -->
									<table>
									<% for i 0 0 to marketingmessages.marketingmessagelistcount - 1 do begin write(marketingmessages.getmarketingmessagehtmltext(i)) end %>
									</table>
									<tr class="bottom">
										<td colspan="6" align="left" valign="top">
											<br/>
											<strong class="subheads">Thank you for shopping at The Walt Disney Family Museum Web Store!</strong><br/>
											<br/>
											<table width="100%" border="0" cellspacing="0" cellpadding="0">
											<tr valign="top">
												<td>
													<p>
														&nbsp;
													</p>
												</td>
											</tr>
											<tr>
												<td>
													&nbsp;
												</td>
											</tr>
											</table>
										</td>
									</tr>
									</tbody>
									</table>
								</td>
							</tr>
							</table>
						</td>
					</tr>
					</table>
					</body>
					</html>